<div class="colaboradores content background_content" id="colaboradores">
			
			<br>

			<img class="center_img" src="img/Jeisson.png" alt="JCJR">

			<h2>JEISSON CAMILO JOSE ROMERO ROMAN</h2>

			<p> Amante a la música sin importar el genero percusionista empírico, tecnologo en análisis y  desarrollo de sistemas de información, apasionado del código y la tecnología, con muchas ganas de aprender y culminar mis estudios profesionales.</p>
			<p>Programa: Ingenieria de Sistemas</p>
			<p>Correo: camilojeison2016@gmail.com </p>
			<p>Skype: camilojeison@hotmail.com </p>

</div>
<div class="sidebar" id="sidebar">
	
    <h2>Sigue a la UNAD en Twitter</h2>

	<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		
		<!-- <img class="center_img" src="img/SA5.png" alt="SA5">	
		<img class="center_img" src="img/SA6.png" alt="SA6">-->
</div>

