<div class="documentacion content background_content" id="documentacion">
			

<h2>Documentación</h2>

<embed src="documents/actividad2.pdf#toolbar=0" class="documents">

</div>

<div class="sidebar" id="sidebar">
		
<h2>Sigue a la UNAD en Twitter</h2>

<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>