<div class="content" id="inicio">
			
<h2>Objetivo</h2>

<p>Conocer e identificar los conceptos básicos de la ingeniería de las telecomunicaciones, con material de apoyo que nos brinda la universidad en nuestra plataforma y realizando la actividad propuesta para el curso el cual consta de una problemática que se identifica en la red informática de la Universidad estatal de Colombia.</p>

<h2>Objetivo especifico 1</h2>

<p>Apropiarnos del material propuesto del curso adquiriendo los temas más relevantes sobre los fundamentos de las telecomunicaciones.</p>

<h2>Objetivo especifico 2</h2>

<p>Leer y entender detenidamente el problema identificado en la red de la universidad estatal de Colombia.</p>

<h2>Objetivo especifico 3</h2>

<p>Identificar las debilidades en la red de la universidad, brindando aportes significativos para la solución a dicho problema. Garantizando calidad y efectividad en las tareas diarias de la universidad. </p>

<img class="img_start" src="img/ing_telecomunicaciones.png" alt="ing_telecomunicaciones">
<!--https://www.google.com.co/search?biw=1242&bih=602&tbm=isch&sa=1&ei=nPihWvSzFYqW5wKBzbw4&q=ingenieria+de+las+telecomunicaciones+png&oq=ingenieria+de+las+telecomunicaciones+png&gs_l=psy-ab.3...6392.7598.0.7795.4.4.0.0.0.0.152.534.0j4.4.0....0...1c.1.64.psy-ab..0.2.278...0i30k1j0i24k1.0.i-mnpBeb4lw#imgrc=SPLs1Tiwm5gGDM:-->

</div>
<div class="sidebar" id="sidebar">
    <h2>Sigue a la UNAD en Twitter</h2>

	<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	
		<!--<img class="center_img" src="img/seguridad-informatica-online.png" alt="seguridad-informatica-online">-->
</div>