<div class="problema content background_content" id="problema">
			

<h2>Problema</h2>

<p>Una universidad estatal en Colombia, cuenta con 51000 estudiantes, el área de su campus universitario es de 10000 metros cuadrados, cuenta con 10 edificios, donde siete de ellos son las escuelas o facultades que maneja, 3 son para el área administrativa, la biblioteca y la rectoría, todos distribuidos en su campus físico.</P>

<p>Actualmente cuenta con siete aulas de informática de uso general y cuatro de tipo específico en el edificio de ingeniería, actualmente todos los edificios están interconectados entre si mediante un anillo de fibra óptica que instaló la universidad el año pasado, por lo tanto, la conectividad es relativamente buena. El problema radica que aun con 11 laboratorios de informática con 50 computadores cada uno, no es factible satisfacer la demanda y necesidad de los estudiantes de acceder a los servicios de Internet que ofrece la Universidad, ni para las consultas generales que hacen los mismos. Adicional a lo anterior se han encontrado los siguientes problemas:</P>

<ul>

  <li>La red informática de la universidad, es una gran red plana, es decir no tiene una buena administración.</li>
  <li>Hay conflictos con las direcciones IP.</li>
  <li>Se tienen muchos servidores DHCP independientes.</li>
  <li>Las redes inalámbricas que se han instalado no dan abasto a todos los requerimientos.</li>
  <li>Muchos problemas más que cada día aparecen en esta red sin una planeación adecuada.</li>

</ul>

<img class="img_start" src="img/problema.png" alt="problema">

<p>Acorde a lo anterior, se busca encontrar una solución a lo siguiente:</P>

<ul>

  <li>Supongan que tienen la autorización del rector para reestructurar la red, por lo tanto, todos los cambios que sugieran serán bienvenidos.</li>
  <li>Hagan un levantamiento de la estructura de la red, supongan que cuentan con el anillo de fibra óptica que recibe la acometida del ISP con un canal amplió de datos para conectarse a Internet y que soportará todo el campus de la Universidad.</li>
  <li>En cada edificio cuentan con un rack de comunicaciones, ubicado en el primer piso y que tiene 3 switch de 48 puertos, para conectar los equipos que se requieren en cada uno de los edificios.</li>
  <li>En el edificio de sistemas se encuentra el Router que entregó el ISP y el Router que distribuye el canal para los demás edificios, este edificio además cuenta 5 switches para distribuir la red con las aulas de informática adicionales que cuenta.</li>
  <li>El rector y el jefe de sistemas de la Universidad han determinado que todos los Access Point y Routers inalámbricos que tenían estaban obsoletos y los han dado de baja, por lo tanto, han dejado que usted recomiende la cantidad necesaria y tipo de dispositivos para implementar este servicio de manera que sea funcional.</li>
  <li>El direccionamiento IP también lo ha dejado a su criterio. Pero se quiere que sea IPv6.</li>

</ul>

<br>

</div>
<div class="sidebar" id="sidebar">
		

    <h2>Sigue a la UNAD en Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>