<div class="red_informatica content background_content" id="red_informatica">

<h2>Red Informática Universidad Estatal en Colombia</h2>
<h3>Actividad 2</h3>
<br>
<img class="img_documents" src="img/Red_Informatica.png" alt="Red_Informatica">
<h3>Actividad 4</h3>
<br>
<img class="img_documents" src="img/red_actualizada.png" alt="red_actualizada">
<br>
<img class="img_documents" src="img/red_ipv6.png" alt="red_ipv6">

</div>
<div class="sidebar" id="sidebar">
		
    <h2>Sigue a la UNAD en Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>