<div class="solucion content background_content" id="solucion">
			

<h2>Solución al problema primer trabajo</h2>

<ul>

  <li>Determine la cantidad de Routers, Switches, Access Point u otros equipos que usted y su grupo creen que deben adicionar a la red propuesta. Esto con el fin de soportar la red alámbrica actual y también para diseñar nuevas inalámbricas que soportarían todo el campus universitario.</li>
  <li>Esquema del direccionamiento IP que ustedes proponen para todo el campus universitario, en IPv6.</li>
  
</ul>


<p>Debido a los  51.000 estudiantes con los que cuenta la universidad, con el fin satisfacer la demanda y necesidad de los estudiantes de acceder a los servicios de Internet y contando con el anillo de fibra óptica que interconecta los edificios entre sí, se solicitaría  instalar un router por cada edificio. Este router se configurará con una dirección ip fija en ipv6.  Teniendo en  cuenta que IPv6 la longitud de las direcciones es de 128 bits existiendo 2 elevado a 128 posibles direcciones. Este número es tan grande, que puede considerarse infinito. Con este rango de direcciones se puede facilitar sin problemas una dirección IP a cada usuario de la red.</p>

<p>Lo comentado anteriormente daría un total de 10 routers ya que la universidad cuenta con 10 edificios.</p>

<p>Se necesitaran tres switches troncales de altas prestaciones, por edificio y 10 para distribuir la red con las aulas de informática. Este tipo de switches cuenta con un alto rendimiento y una alta modularidad. El formato habitual es de tipo chasis donde se instalan los módulos que se necesitan. Altamente modulares mediante un chasis con un número variable de slots donde se insertan módulos con los elementos requeridos. Normalmente suelen admitir la inserción de módulos “en caliente” (hot swappable) de forma que no hay que desconectar el switch para realizar dicha operación, garantizando así una alta disponibilidad.</p>

<p>Niveles 2/3/4. Además de cubrir funciones de conmutación avanzadas del nivel 2 también proporcionan funciones de enrutamiento y gestión en los niveles 3 y 4.</p>

<p>Fuentes de alimentación redundantes.</p>

<p>Admiten módulos con todos los tipos de puertos, tanto de cobre como de fibra con velocidades 10/100/1000 Mbps hasta 10Gbps.</p>

<p>Alta densidad de puertos. Pueden llegar a más de 500  puertos 10/100, hasta 200 puertos Gigabit o sobre unos 25 puertos 10GbE.</p>

<p>Características avanzadas de configuración y gestión en el nivel 2.</p>

<p>Enrutamiento en el nivel 3 (IPv4 e IPv6).</p>

<p>Cada piso del edificio contara con modem inalámbrico doble banda AC 1200 Archer C50 el cual  El incorpora el estándar Wi-Fi de última generación - 802.11ac, 3 veces más rápido que las velocidades inalámbricas N entregando una velocidad de transferencia inalámbrica combinada de hasta 1.2Gbps. Con velocidades inalámbricas de 300Mbps sobre la banda de 2.4GHz y 867Mbps sobre la banda cristalina de 5GHz. Soportando la siguiente generación del protocolo de internet IPv6.</p>

<br>

</div>
<div class="sidebar" id="sidebar">
		

    <h2>Sigue a la UNAD en Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw" width="300" data-tweet-limit="6">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>